header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  border-width: 1px, solid, black;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  z-index: 200;
}

header div {
  display: flex;
}

.open-sidebar-btn {
  width: 130px;
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
}

.open-sidebar-btn img {
  height: 70%;
  transition: transform 1s ease-in-out;
  transform: rotate(0deg);
}

.open-sidebar-btn img.sidebar-visible {
  transform: rotate(-360deg);
}

.logo-tutto-fila {
  padding: 0 3.5vw;
}

.logo-tutto-fila img {
  height: 75%;
}

header .pages {
  display: flex;
  flex: 1;
}

header .pages * {
  flex: 1;
}

header .pages .page-link {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

header .pages .page-link div {
  transition: height 0.5s;
  display: flex;
  justify-content: start;
}

header .pages .page-link img {
  height: 70%;
  transition: height 0.5s;
}

header .pages .page-link label {
  cursor: pointer;
  color: transparent;
  transition: color 0.5s ease-in;
  font-size: 0;
}

header .pages .page-link:hover {
  background-color: aliceblue;
}

header .pages .page-link:hover div {
  height: 70%;
}

header .pages .page-link:hover div img {
  height: 90%;
}

header .pages .page-link:hover label {
  color: black;
  font-size: 0.8em;
}

.search-bar {
  display: flex;
  padding: 0 20px;
  transition: width 1s;
  background-color: lightgray;
}

.search-bar div {
  cursor: pointer;
}

.search-bar div img {
  height: 60%;
  transition: transform 1s ease-in-out;
}

.search-bar input {
  border-bottom: 2px solid black;
  width: 0;
  background-color: lightgray;
  transition: width 0.5s, margin-left 0.5s;
  height: 2rem;
}

.search-bar input:focus {
  outline: none;
}

.search-bar .mobile-search-input {
  display: none;
  width: 100%;
  background-color: transparent;
}

.search-bar:hover {
  background-color: aliceblue;
}

.search-bar:hover img {
  transform: rotate(360deg);
}

.search-bar:hover input.pc-search-input {
  background-color: aliceblue;
  margin-left: 15px;
  width: 150px;
}

.search-bar-cover {
  position: absolute;
  right: 120px;
  left: 85px;
  top: 0;
  background-color: red;
}

.search-bar-cover.visible {
  display: block;
}

@media screen and (max-width: 1150px) {
  header .pages {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 90px;
  }
  .pc-search-input {
    display: none;
  }
  .search-bar {
    width: 250px;
    padding-left: 30px;
  }
  .search-bar.cover {
    width: calc(100vw - 75px);
  }
  .search-bar .mobile-search-input {
    display: block;
  }
  .search-bar img {
    margin-left: 15px;
  }
  .logo-tutto-fila {
    position: absolute;
    left: 65px;
  }
  .logo-tutto-fila.sidebar-visible {
    animation: bump 1s;
  }
  .logo-scuola {
    display: none;
  }
  .open-sidebar-btn {
    width: 70px;
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .search-bar {
    width: 55vw;
  }
  header {
    height: 80px;
  }
  .logo-tutto-fila {
    left: 65px;
  }
}
