.sidebar {
  position: absolute;
  background-color: #ebebeb;
  transition: width 1s;
  width: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.sidebar.sidebar-visible {
  width: 300px;
}

.sidebar.sidebar-visible * {
  display: block;
}

.sidebar.sidebar-visible .pages * {
  width: auto;
  opacity: 1;
  overflow: visible;
}

.sidebar.sidebar-visible .page-link {
  pointer-events: all;
}

.sidebar .pages {
  display: none;
  width: 100%;
  padding-top: 10px;
  transition: width 1s linear;
}

.sidebar .pages * {
  opacity: 0;
  pointer-events: none;
}

.sidebar .pages .page-link {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 40px;
  padding: 0 30px;
  transition: opacity 0.5s linear 0.35s;
}

.sidebar .pages .page-link * {
  transition: opacity 0.3s linear;
}

.sidebar .pages .page-link div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .pages .page-link div img {
  height: 70%;
}

.sidebar .pages .page-link label {
  display: flex;
  white-space: nowrap;
  font-size: 1.2em;
}

.spacer {
  background-color: transparent;
  transition: width 1s;
  width: 0;
  height: calc(100vh - 100px);
}

.spacer.sidebar-visible {
  width: 300px;
}

.screen-darkener {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
}

.screen-darkener.sidebar-visible, .screen-darkener.cover {
  right: 0;
}

@media screen and (max-width: 1150px) {
  .screen-darkener, .sidebar .pages {
    display: block;
  }
  .sidebar {
    position: fixed;
    top: 100px;
    bottom: 0;
  }
  .spacer {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    top: 90px;
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    top: 80px;
  }
}
